<h1><%= @attraction.name %></h1>

<% if admin_user? %>
    <%= link_to "Edit Attraction", edit_attraction_path(@attraction) %>
<% else %>
    <form action="/attractions/<%= @attraction.id %>" method='post'>
        <input type='submit' value='Go on this ride'>
    </form>
<% end %>